.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 15px;
  background-color: tomato;
}

.badge-sm {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  background-color: tomato;
}
